body {
	margin:0;
	padding:0;
	background-size: 1280px 900px;
}

#logo {
    display: block;
    margin-left: 300px;
    margin-right: auto;
    margin-top: 220px;
}	

#nav {
	background-color: #d6d6c2;
	position: fixed;
	width:100%;
	top:0px;
}

#nav-wrapper {
	width: 1000px;
	margin: 0 auto;
	position:relative;	
}

#nav ul {
	background-color: #d6d6c2;
	height:20px;
	width:100%;
	list-style: none;
	text-align: center;
}

#nav ul li{
	padding-right: 42px;
	padding-left: 42px;
	background-repeat:no-repeat;
	display:inline-block;
}

li+li { 
	border-left: 1px solid #334d00; 
	border-color: #446600;
}

#nav ul li a {
	text-decoration:none;
	color:#446600;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	display:inline;
}

#otli{
	color: #DAEAB9;
}

.culture {
	background-color: #ffffff"
}
